<template>
  <div id="app" class="min-h-screen border-t-4 border-indigo-500 bg-gray-200">
    <header class="bg-gray-800">
      <div class="px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="flex flex-1 items-center justify-start sm:items-stretch">
            <div>
              <div class="flex">
                <router-link
                  :to="{ name: 'index' }"
                  class="px-3 py-2 rounded-lg text-sm font-medium leading-snug bg-gray-900 text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                >
                  <span class="inline-flex items-center">
                    <svg
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      class="w-4 h-4"
                    >
                      <path
                        d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm2 10a1 1 0 10-2 0v3a1 1 0 102 0v-3zm2-3a1 1 0 011 1v5a1 1 0 11-2 0v-5a1 1 0 011-1zm4-1a1 1 0 10-2 0v7a1 1 0 102 0V8z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                    <span class="ml-2">Тесты</span>
                  </span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="px-2 py-4 sm:px-6 sm:py-8 lg:px-8 lg:py-12">
      <div class="flex flex-col md:flex-row">
        <div>
          <nav class="sticky bg-white rounded-lg shadow-lg w-full md:w-64 py-5">
            <ul class="space-y-5">
              <router-link
                tag="li"
                class="px-4 border-l-4 border-transparent"
                :class="
                  $route.fullPath === '/'
                    ? 'border-indigo-600'
                    : 'border-transparent'
                "
                :to="{ name: 'index' }"
              >
                <a
                  href="#"
                  class="block ml-2 text-base leading-normal font-normal text-gray-900"
                  @click="steps = []"
                  >Главная</a
                >
              </router-link>
              <router-link
                tag="li"
                class="px-4 border-l-4 border-transparent"
                :class="
                  $route.query.test === test.slug
                    ? 'border-indigo-600'
                    : 'border-transparent'
                "
                :to="{ name: 'index', query: { test: test.slug } }"
                v-for="(test, index) in tests"
                :key="index"
              >
                <a
                  href="#"
                  class="block ml-2 text-base leading-normal font-normal text-gray-900"
                  @click="steps = test.steps"
                  v-text="test.title"
                ></a>
              </router-link>
              <router-link
                tag="li"
                class="px-4 border-l-4 border-transparent"
                :class="
                  $route.query.test === 'done'
                    ? 'border-indigo-600'
                    : 'border-transparent'
                "
                :to="{ name: 'index', query: { test: 'done' } }"
              >
                <a
                  href="#"
                  class="block ml-2 text-base leading-normal font-normal text-gray-900"
                  @click="steps = []"
                  >Финиш</a
                >
              </router-link>
            </ul>
          </nav>
        </div>
        <main class="flex justify-center w-full pt-5 md:pt-0 md:pl-5">
          <div
            class="-my-5 py-5 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
          >
            <div
              class="align-middle inline-block min-w-full shadow-lg overflow-hidden sm:rounded-lg border-b border-gray-200"
              v-if="steps.length !== 0"
            >
              <table class="min-w-full">
                <thead>
                  <tr>
                    <th
                      class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-snug font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Тестовый случай
                    </th>
                    <th
                      class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-snug font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Ожидаемый результат
                    </th>
                    <th
                      class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-snug font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Статус
                    </th>
                    <th
                      class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-snug font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Найденные ошибки
                    </th>
                    <th
                      class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-snug font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Комментарий
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white">
                  <tr v-for="(step, index) in steps" :key="index">
                    <td
                      class="px-6 py-4 whitespace-normal border-b border-gray-200"
                    >
                      <div
                        class="text-sm leading-normal font-medium text-gray-900"
                        v-text="step.title"
                      ></div>
                    </td>
                    <td
                      class="px-6 py-4 whitespace-normal border-b border-gray-200"
                    >
                      <div
                        class="text-sm leading-normal text-gray-900"
                        v-text="step.description"
                      ></div>
                    </td>
                    <td
                      class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                    >
                      <div class="text-sm leading-normal text-gray-900">
                        <select
                          class="form-select"
                          :class="step.status"
                          v-model="step.status"
                        >
                          <option value="unexecuted" selected
                            >Не выполнено
                          </option>
                          <option value="passed">Успешно</option>
                          <option value="failed">Неуспешно</option>
                          <option value="blocked">Заблокировано</option>
                        </select>
                      </div>
                    </td>
                    <td class="px-6 py-4 w-64 border-b border-gray-200">
                      <div class="flex items-center justify-between">
                        <input
                          type="text"
                          class="form-input w-full"
                          placeholder="Добавить ошибку"
                          :ref="'ticketInput-' + index"
                        />
                        <button
                          class="ml-2 text-indigo-500 hover:text-indigo-700 focus:outline-none"
                          @click="
                            addTicket(
                              step,
                              $refs['ticketInput-' + index][0].value
                            ),
                              ($refs['ticketInput-' + index][0].value = '')
                          "
                        >
                          <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            class="w-6 h-6"
                          >
                            <path d="M12 4v16m8-8H4"></path>
                          </svg>
                        </button>
                      </div>
                      <div
                        class="flex items-center justify-between"
                        v-show="step.tickets !== 0"
                        v-for="(ticket, index) in step.tickets"
                        :key="index"
                      >
                        <a :href="ticket" target="_blank" v-text="ticket"></a>
                        <button
                          class="ml-2 text-red-500 hover:text-red-700 focus:outline-none"
                          @click="removeTicket(step, ticket)"
                        >
                          <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            class="w-6 h-6"
                          >
                            <path
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                            ></path>
                          </svg>
                        </button>
                      </div>
                    </td>
                    <td
                      class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                    >
                      <textarea
                        class="form-input w-full"
                        rows="1"
                        placeholder="Примечание"
                        v-model="step.comment"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-else-if="$route.query.test === 'done'">
              <div
                class="align-middle text-center inline-block min-w-full p-5 bg-white shadow-lg overflow-hidden sm:rounded-lg border-b border-gray-200"
              >
                <doughnut-chart
                  :chart-data="chartData"
                  :options="chartOptions"
                ></doughnut-chart>
                <button
                  class="mt-5 px-3 py-2 rounded-lg text-sm font-medium leading-snug bg-gray-900 text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                  @click="onSave()"
                >
                  Сохранить результат
                </button>
              </div>
            </div>
            <div v-else>
              <img src="./illustration.svg" alt="Тест" />
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import tests from "./tests";
import DoughnutChart from "./DoughnutChart";
import { db } from "./db";
export default {
  name: "App",
  components: { DoughnutChart },
  data() {
    return {
      chartOptions: {
        hoverBorderWidth: 20,
      },
      chartData: {
        hoverBackgroundColor: "red",
        hoverBorderWidth: 10,
        labels: ["Не выполнено", "Успешно", "Не успешно", "Заблокировано"],
        datasets: [
          {
            label: "Data One",
            backgroundColor: ["#edf2f7", "#48bb78", "#c53030", "#ecc94b"],
            data: [0, 0, 0, 0],
          },
        ],
      },
      steps: [],
      tests: [],
      latest: [],
    };
  },
  firestore() {
    return {
      latest: db.collection("tests").orderBy("createdAt").limit(1),
    };
  },
  methods: {
    addTicket(step, ticket) {
      step.tickets.push(ticket);
    },
    removeTicket(step, ticket) {
      let index = step.tickets.indexOf(ticket);
      step.tickets.splice(index, 1);
    },
    onSave() {
      const createdAt = new Date();
      db.collection("tests").add({ tests, createdAt });
    },
  },
  watch: {
    latest() {
      // this.tests = this.latest[0].tests;
      this.tests = tests;
    },
    tests: {
      handler() {
        let statuses = [0, 0, 0, 0];
        this.tests.forEach((items) => {
          items.steps.forEach((items) => {
            if (items.status === "unexecuted") statuses[0]++;
            if (items.status === "passed") statuses[1]++;
            if (items.status === "failed") statuses[2]++;
            if (items.status === "blocked") statuses[3]++;
          });
        });
        this.chartData.datasets[0].data = statuses;
      },
      deep: true,
    },
  },
};
</script>

<style scoped>
.form-select.passed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2338a169' viewBox='0 0 20 20'%3E%3Cpath d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: left 0.5rem center, right 0.5rem center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

.form-select.failed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e53e3e' viewBox='0 0 20 20'%3E%3Cpath d='M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z' clip-rule='evenodd' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: left 0.5rem center, right 0.5rem center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

.form-select.blocked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dd6b20' viewBox='0 0 20 20'%3E%3Cpath d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: left 0.5rem center, right 0.5rem center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}
</style>
